- var objects = ['line lineOne', 'line lineTwo', 'line lineThree', 'stand', 'weight', 'cabin', 'arm']
- var n = 0

#content
  h1 < building />
  p Working day and night!

#outerCraneContainer
  .buildings
    while n < 5
      div(class= n++)
  .crane.craneThree
    for i in objects
      div(class= i)
  .crane.craneTwo
    for i in objects
      div(class= i)
  .crane.craneOne
    for i in objects
      div(class= i)
      
a(rel='license' href='http://creativecommons.org/licenses/by-nc-sa/4.0/' id='license')
  img(alt='Creative Commons License' style='border-width:0' src='https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png')